.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.viz{
	border-bottom: 3px solid black;
}

.headers{
	text-align: center;
	font-weight: 500;
}

/*#topname{
	max-width: 250px;
}*/
.ksbk{
	max-width: 100px
}

#header {
    height: 400px;
    background-color: #000;
}

.search-people-input {
    margin-top: 30px;
}

#type, #places {
    color: #fff!important;
}

#type option, #places option {
    color: #000!important;
}


#kind, #municipalities {
  color:#67696c;
}

#kind option, #municipalities option {
  color: #67696c;
}

select.custom-form-item {
    height: 39px!important;
    padding: 9px 18px!important;

}
select.custom-form-item option {
    color: #000!important;
}

@media (min-width:992px) {
	.select-kind {
		padding-left: 0px!important;
	}
	.search-people-input-btn {
		padding-right: 0px!important;
	}
}

.filter-people-btn {
    width: 100%;
    background: transparent!important;
    color: #fff!important;
    height: 39px;
    border-radius: 0px!important;
    margin-top: 26px;
}
.filter-people-btn:hover {
    background: #fff!important;
    color: #000!important;
}
.search-people-input-btn {
    margin-top: 30px;
}
