<form id="form-biz2" class="row form-inline" method="POST">
    <div class="col-xs-12 col-sm-5 col-md-4 form-group">
        <label>
            Statusi:
        </label><br>
        <select class="form-control select-vizualizations" name="biz_status" id="biz_status">
            <option value="any" selected="selected">T&euml; gjitha</option>
            <option value="Aktiv">Aktiv</option>
            <option value="Shuar">I shuar</option>
        </select>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4 form-group">
        <label>
            Komuna:
        </label><br>
        <select class="form-control select-vizualizations" name="biz_city_id" id="biz_city_id">
            <option value="any">T&euml; gjitha</option>
            {% for j in komunat %}
            <option value="{{j['municipality']}}">{{j['municipality']}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 form-group">
        <button type="button" id="getBizTypes" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">Listo</button>
    </div>
</form>
<div id="bizTypesLoader">
    {% include 'preLoader.html' %}
</div>
<div id="container" style="min-width: 100%; margin-top:30px !important; height: 400px; margin: 0 auto">
</div>
