<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<div class="" style="margin-top:30px;">
    <form id="form-3" class="form-inline row" method="POST">
        <div class="col-xs-12 col-sm-5 col-md-4 form-group">
            <label for="status">Statusi:
            </label><br>
            <select class="kind form-control select-vizualizations" name="status" id="kind">
                <option value="any" selected="selected">T&euml; gjitha</option>
                <option>Aktiv</option>
                <option>I shuar</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 form-group">
            <label for="municipalities">Komuna:
            </label><br>
            {% set _stub = komunat.rewind() %}
            <select class="form-control select-vizualizations" name="city_id" id="municipality">
                <option value="any">T&euml; gjitha</option>
                {% for i in komunat %}
                <option value="{{i.municipality}}">{{i.municipality}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 form-group">
            <button type="button" onclick="selectDist()" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">Listo</button>
        </div>
    </form>
    <div class="" style="overflow: auto;">
        <table id="topTable" class="table table-responsive table-bordered table-striped table-hover">
            <thead>
                <th>#</th>
                <th>Emri i Biznesit</th>
                <th>Komuna</th>
                <th>Statusi i Biznesit</th>
                <th style="min-width: 168px;">Kapitali</th>
            </thead>
            <tbody>
                {% for i in top['result'] %}
                <tr>
                    <td>
                        {{loop.index}}
                    </td>
                    <td id="topname">
                        <a href="{{i['arbkUrl']}}">{{i['name']}}</a>
                    </td>
                    <td class="ksbk">
                        {{i['municipality']['municipality']}}
                    </td>
                    <td class="ksbk">
                        {{i['status']}}
                    </td>
                    <td class="ksbk">
                        <script type="text/javascript">
                        var number = numeral({{i['capital']}});
                        number.format();
                        numeral.defaultFormat('0,0.00');
                        var num = number.format();
                        document.write(num+'\u20ac');
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
