<form id="form-donors-filter" class="form-inline" method="POST">
    <div class="form-group">
        <label for="status">Statusi
            <select class="kind form-control" name="status" id="types">
                <option value="any" selected="selected">T&euml; gjitha</option>
                <option>Aktiv</option>
                <option>Shuar</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label for="municipalities">Zgjedh komunën:
            {% set _stub = komunat.rewind() %}
            <select class="form-control" name="city_id" id="municipalities">
                <option value="any">T&euml; gjitha</option>
                {% for i in komunat %}
                <option value="{{i.municipality}}">{{i.municipality}}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        <button type="button" onclick="selectActivities()" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">Listo</button>
    </div>
</form>
<label for="no-activities">Shfaq aktivitetet nga:
    <select id="no-activities" class="topAct"></select>
</label>
<div id="container4" style="min-width: 310px; margin-top:30px !important; height: 400px; max-width: 100%; margin: 0 auto"></div>
