{% extends 'layout.html' %}
{% block content %}
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/kv/kv-all.js"></script>
<script type="text/javascript" src="{{url_for('static', filename="js/activityMap.js")}}"></script>
<div class="container">
    <div class="row">
        <div class="con1" style="margin-top:30px;margin-bottom:20px;">
            <h3 class="headers">Shtrirja e aktiviteteve n&euml; hart&euml;.</h3>
            <form id="form-3" class="form-inline" method="POST">
                <div class="form-group">
                    <div class="dropdown" id="dropdown-first">
                        <label for="status">Aktiviteti</label>
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdown-menu-first" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="selected-value"></span>
                            &nbsp;<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu kind" name="status" id="activity_val" style="max-width:500px;" aria-labelledby="dropdown-menu-first">
                            {% for i in activities%}
                            <li><a href="javascript:onActivitySelection('{{ i['activity'] }}')">{{ i['code'] }}-{{ i['activity'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="showActivities" class="btn btn-default">Listo</button>
                </div>
            </form>
            <div id="mapContainer" style="min-width: 100%; margin-top:30px !important; height: 700px; margin: 0 auto"></div>
        </div>
    </div>
</div>
{% endblock %}
