{% extends 'layout.html' %}
{% block body %}
<form class="form" method="POST">
    <div class="row">
        <div class="form-group col-xs-6">
            <input type="text" class="form-control" id="search" name="search" placeholder="emri i zyrtarit/pronarit">
        </div>
        <div class="form-group col-xs-2">
            <label>
                <select class="form-control" name="person" id="poz">
                    <option value="any" selected="selected">T&euml; gjitha</option>
                    <option value="owner">Pronar&euml;</option>
                    <option value="auth">Zyrtar&euml;</option>
                </select>
            </label>
        </div>
        <div class="form-group col-xs-3">
            <label>
                <select class="form-control" name="municipality" id="poz">
                    <option value="any" selected="selected">T&euml; gjitha</option>
                    {% for municipality in municipalities%}
                    <option value="{{municipality.municipality}}">{{municipality.municipality}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group col-xs-1">
            <button type="submit" class="btn btn-default">Kerko</button>
        </div>
    </div>
</form>

<table class="table table-striped" id="searchTable">
    <thead>
        <th>Emri i Biznesit</th>
        <th>Statusi i Biznesit</th>
        <th>Komuna</th>
        <th>Pronaret</th>
        <th>Te autorizuaret</th>
    </thead>
    <tbody>
        {% for i in result %}
        <tr>
            <td>
                <a href="{{i['arbkUrl']}}">{{i['name']}}</a>
            </td>
            <td>
                {{i['status']}}
            </td>
            <td>
                {{i['municipality']['municipality']}}
            </td>
            <td>
                <ul>
                    {% for owner in i['owners'] %}
                        <li><a href="{{url_for('.profile', person=owner['name'])}}">{{owner['name']}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for authorized in i['authorized'] %}
                        <li><a href="{{url_for('.profile', person=authorized['name'])}}">{{authorized['name']}}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
$('#searchTable').DataTable();
} );
</script>
{% endblock %}
