{% extends 'layout.html' %}
{% block content %}
<table class="table table-striped" id="searchTable">
    <thead>
        <th>Emri i Biznesit</th>
        <th>Statusi i Biznesit</th>
        <th>Komuna</th>
        <th>Pronar&euml;t</th>
        <th>T&euml; autorizuar&euml;t</th>
    </thead>
    <tbody>
        {% for i in result %}
        <tr>
            <td>
                <a href="{{i['arbkUrl']}}">{{i['name']}}</a>
            </td>
            <td>
                {{i['status']}}
            </td>
            <td>
                {{i['municipality']['municipality']}}
            </td>
            <td>
                <ul>
                    {% for owner in i['owners'] %}
                        <li><a href="{{url_for('main.profile', person=owner['name'], status='owner')}}">{{owner['name']}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for authorized in i['authorized'] %}
                        <li><a href="{{url_for('main.profile', person=authorized['name'], status='authorized')}}">{{authorized['name']}}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready( function () {
        $('#searchTable').DataTable({
        searching: false,
        responsive: true,
        "language": {
            "lengthMenu": "Të shfaqur  _MENU_  persona",
            "zeroRecords": "Asgjë nuk u gjet!",
            "info": "Faqja _PAGE_ nga _PAGES_",
            "infoEmpty": "Nuk ka rezultate!",
            "infoFiltered": "(filtruar nga _MAX_ totali i rezultateve)",
            "paginate": {
                "previous": "Prapa",
                "next": "Para"
            }
        }});
    });
</script>
{% endblock %}
