<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bizneset e Hapura</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='img/favicon-1.png')}}"/>
    <!-- Facebook meta tags -->
    <meta property="og:title" content="Bizneset e Hapura">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Bizneset e Hapura"/>
    <meta property="og:description" content="K&euml;tu mund t&euml; gjeni t&euml; dh&euml;na t&euml; hapura p&euml;r t&euml; gjith&euml; bizneset e regjistruara ne Kosov&euml; n&euml; periudh&euml;n 2002 - 2017.">
    <meta property="og:image:url" content="{{ url_for('static', filename='img/share.png') }}">
    <meta property="og:url" content="{{request.path}}">
    <!-- Twitter meta tags -->
    <meta property="twitter:title" content="Bizneset e Hapura">
    <meta property="twitter:description" content="K&euml;tu mund t&euml; gjeni t&euml; dh&euml;na t&euml; hapura p&euml;r t&euml; gjith&euml; bizneset e regjistruara ne Kosov&euml; n&euml; periudh&euml;n 2002 - 2017.">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/share.png') }}">
    <meta property="twitter:card" content="summary_medium_image">
    <meta name="twitter:creator" content="@OpenDataKosovo">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/preLoader.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename="js/scroll.js")}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59188119-7', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bizneset e Hapura</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li {% if request.path == '/recommendation' %}class="active"{% endif %}><a href="{{ url_for('main.recommendation') }}">Pse Bizneset e Hapura?</a></li>
                  <li {% if request.path == '/' %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">K&euml;rkimi</a></li>
                  <li {% if request.path == '/visualization' %}class="active"{% endif %}><a href="{{ url_for('main.visualization') }}">Zhvillimi i Bizneseve</a></li>
                  <li {% if request.path == '/activity-map' %}class="active"{% endif %}><a href="{{ url_for('main.activity_map') }}">Harta</a></li>
                  <li {% if request.path == '/download' %}class="active"{% endif %}><a href="{{ url_for('main.download_page') }}">Shkarko</a></li>
                </ul>
              </div>
            </div>
        </nav>
    </nav>

    <!-- Header -->
    <div {% if request.path == url_for('main.index') %}class="header"
         {% elif request.path == url_for('main.visualization') %}class="visualization_header"
         {% elif request.path == url_for('main.activity_map') %}class="map-header" {% else%} class="header"{% endif %}>
      <div class="bg-color">
        <div class="wrapper">
        <div class="container">
          <div class="row">
            {% if request.path == url_for('main.index') %}
                <div class="col-xs-12 banner-info text-center">
                    <div class="col-xs-12">
                        <h2 class="bnr-sub-title">K&euml;rko biznese, pronar&euml;, apo persona t&euml; autorizuar p&euml;r kompanit&euml; e regjistruara n&euml; Kosov&euml;</h2>
                    </div>
                    <div class="col-xs-12 text-center">
                        K&euml;rko p&euml;rmes nj&euml; apo m&euml; shum&euml; kritereve t&euml; m&euml;poshtme:<br>
                        <br>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                         <form class="form" id="search-form" method="POST" action="{{ url_for('main.index') }}">
                          <div id="imaginary_container">
                               <div class="row">
                                  <div class="stylish-input-group form-group col-md-8 col-xs-12">
                                      <label for="places">K&euml;rko personin:</label>
                                      <input type="text" class="form-control" name="person" id="person-search-field" placeholder="Sh&euml;no emrin e personit">
                                  </div>
                                  <div class="search-people-input select-kind form-group col-md-4 col-xs-12">
                                      <label for="type">Statusi i personit:</label>
                                      <select id="typeSearch" class="custom-form-item form-control" name="person_status">
                                          <option value="any">T&euml; gjitha</option>
                                          <option value="owner">Pronar</option>
                                          <option value="auth">Person i Autorizuar</option>
                                      </select>
                                  </div>
                               </div>
                               <div class="row">
                                <div class="stylish-input-group form-group col-md-8 col-xs-12">
                                     <label for="places">K&euml;rko biznesin:</label>
                                    <input type="text" class="form-control" name="business" id="biz-search-field" placeholder="Sh&euml;no emrin e biznesit">
                                </div>
                                <div class="search-people-input select-kind form-group col-md-4 col-xs-12">
                                    <label for="type">Statusi i biznesit:</label>
                                    <select id="biz_statusSearch" class="custom-form-item form-control" name="biz_status">
                                        <option value="any" selected="selected">T&euml; gjitha</option>
                                        <option value="Aktiv">Aktiv</option>
                                        <option value="Shuar">I shuar</option>
                                    </select>
                                </div>
                               </div>
                               <div class="row">
                                   <div style="margin-top: 30px;" class="search-people-input form-group col-md-4 col-md-offset-2 col-xs-12">
                                       <label for="places" id="pick-muni-lbl">Zgjedh komun&euml;n:</label>
                                       <select id="placesSearch" class="custom-form-item form-control" name="municipality" id="poz">
                                           <option value="any" selected="selected">Gjith&euml; Kosova</option>
                                           {% for municipality in municipalities%}
                                           <option value="{{municipality.slug}}">{{municipality.municipality}}</option>
                                           {% endfor %}
                                       </select>
                                   </div>
                                   <div class="search-people-input-btn form-group col-md-4 col-xs-12">
                                       <button onclick="search()" id="searchBtn" type="button" style="margin-top: 0px;height: 47px;" class="btn btn-default filter-people-btn">K&euml;rko</button>
                                   </div>
                               </div>
                          </div>
                         </form>
                    </div>
                </div>
            {% elif request.path == url_for('main.visualization') %}
              <div class="banner-info text-center">
                <h2 class="bnr-sub-title">Zbuloni Gjendjen e Bizneseve n&euml; Kosov&euml;</h2>
                <span class="lead">K&euml;tu mund t&euml; gjeni forma t&euml; ndryshme t&euml; visualizimeve q&euml; tregojn&euml; gjendjen e bizneseve n&euml; Kosov&euml;.</span><br>
                <span class="lead">Zbuloni se cil&euml;t jan&euml; top dhjet&euml; bizneset me kapital m&euml; t&euml; madh. M&euml;soni &ccedil;far&euml; industri apo aktivitete biznesore operojn&euml; m&euml; s&euml; shumti n&euml; qytetin tuaj. Ndani sipas gjinis&euml;, viteve, apo llojit t&euml; biznesit.</span><br><br>
                <div class="btn-group">
                    <button type="button" id="dropSect" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shiko <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="viz-drop-ul">
                        <li><a class="page-scroll" href="#business-types">Llojet e Bizneseve</a></li>
                        <li><a class="page-scroll" href="#employees">Bizneset sipas Numrit t&euml; Pun&euml;tor&euml;ve</a></li>
                        <li><a class="page-scroll" href="#active-inactive">Bizneset e Shuara dhe Aktive</a></li>
                        <li><a class="page-scroll" href="#business-years">Bizneset Sipas Viteve</a></li>
                        <li><a class="page-scroll" href="#top-ten">Top 10 Bizneset Sipas Kapitalit</a></li>
                        <li><a class="page-scroll" href="#top-ten-activities">Top 10 Aktivitetet q&euml; Sh&euml;rbehen nga Bizneset</a></li>
                        <li><a class="page-scroll" href="#activities-years">Aktivitetet Gjat&euml; Viteve</a></li>
                        <li><a class="page-scroll" href="#gender">Gjinia e Pronar&euml;ve</a></li>
                        <li><a class="page-scroll" href="#gender-activities ">Top 10 Aktivitetet Biznesore t&euml; Ndara sipas Gjinis&euml; s&euml; Pronar&euml;ve</a></li>
                    </ul>
                </div>
              </div>
            {% elif request.path == url_for('main.activity_map') %}
              <div class="banner-info text-center">
                <h2 class="bnr-sub-title">Harta</h2>
              </div>
            {% elif request.path == url_for('main.download_page') %}
             <div class="banner-info text-center">
               <h2 class="bnr-sub-title">Shkarkoni Dokumentet</h2>
             </div>
             {% elif request.path == url_for('main.recommendation') %}
              <div class="banner-info text-center">
                <h2 class="bnr-sub-title">Pse Bizneset e Hapura?</h2>
              </div>
            {% else %}
             <div class="banner-info text-center">
                 <h2 class="bnr-sub-title"><a href="/" style="color: #fff;">Kthehu tek k&euml;rkimi</a></h2>
             </div>
             {% endif %}
          </div>
        </div>
        </div>
      </div>
    </div>

    <!--Content -->
    <section id="service" class="section-padding">
      <div class="container">
            {% if request.path == url_for('main.index') %}<h3 style="text-align:center;">Rezultatet:</h3>{% endif %}
            {% block content %}
            {% endblock %}
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row" style="padding: 20px 0px;">
            <div class="col-xs-12 col-sm-4 footCols">
                <img src="{{url_for('static', filename='img/logo.png')}}" class="img-responsive" id="footer-logo" alt="">
            </div>
            <div class="col-xs-12 col-sm-4 footCols text-center">
                <span id="mission">Misioni yn&euml;:</span><br>
                <span>Open Data Kosovo beson q&euml; hapja e t&euml; dh&euml;nave &euml;sht&euml; esenciale n&euml; vendosjen e qeverisjes s&euml; mir&euml;, qeverisjes transparente dhe llogaridh&euml;n&euml;se.</span>
            </div>
            <div class="col-xs-12 col-sm-4 footCols" style="text-align:center">
                <span id="ndjekja">Na ndiqni n&euml;:</span><br><br>
                <div class="follow-us">
                    <a href="https://www.facebook.com/opendatakosovo" target="_blank">
                        <div class="fb social">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="https://twitter.com/OpenDataKosovo" target="_blank">
                        <div class="tw social">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="mailto:info@opendatakosovo.org" target="_blank">
                        <div class="eM social">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
          Zhvilluar nga <a target="_blank" href="https://opendatakosovo.org/">Open Data Kosovo</a>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
  </body>
</html>
