<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenARBK</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.bxslider.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  </head>
  <body>

    <!-- Navbar -->
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HallakatBizneset</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li {% if request.path == '/' %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">Kërkimi</a></li>
              <li {% if request.path == '/visualization' %}class="active"{% endif %}><a href="{{ url_for('main.visualization') }}">Zhvillimi i Bizneseve</a></li>
              <li {% if request.path == '/activitymap' %}class="active"{% endif %}><a href="{{ url_for('main.activity_map') }}">Harta</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Header -->
    <div {% if request.path == url_for('main.index') %}class="header"{% endif %}
         {% if request.path == url_for('main.visualization') %}class="visualization_header"{% endif %}>
      <div class="bg-color">
        <div class="wrapper">
        <div class="container">
          <div class="row">
            {% if request.path == url_for('main.index') %}
            <div class="banner-info text-center">
              <h2 class="bnr-sub-title">Kërko pronarë ose zyrtar në gjithë bizneset të Kosovës</h2>
              <div class="col-sm-10 col-sm-offset-1">
                <form class="form" method="POST" action="{{ url_for('main.index') }}">
                  <div id="imaginary_container">
                      <div class="input-group stylish-input-group">
                          <input type="text" class="form-control" name="search"  placeholder="Sheno emrin..." >
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                              </button>
                          </span>
                      </div>
                    <div class="search-people-input select-kind form-group col-md-4 col-xs-12">
                      <label for="type">Zgjedh llojin:</label>
                        <select id="type" class="custom-form-item form-control" name="person">
                            <option value="any" selected="selected">Pronarë dhe Zyrtarë</option>
                            <option value="owner">Pronarë</option>
                            <option value="auth">Zyrtarë</option>
                        </select>
                    </div>
                    <div class="search-people-input form-group col-md-4 col-xs-12">
                      <label for="places">Zgjedh komunën:</label>
                        <select id="places" class="custom-form-item form-control" name="municipality" id="poz">
                            <option value="any" selected="selected">Gjithë Kosova</option>
                            {% for municipality in municipalities%}
                            <option value="{{municipality.municipality}}">{{municipality.municipality}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-people-input-btn form-group col-md-4 col-xs-12">
                        <button type="submit" class="btn btn-default filter-people-btn">Kërko</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
            {% if request.path == url_for('main.visualization') %}
              <div class="banner-info text-center">
                <h2 class="bnr-sub-title">Zbuloni gjendjen e bizneseve të Kosovës ndërvite</h2>
                <p class="lead">Këtu mund të gjeni forma të ndryshme të visualizimeve ku tregojnë gjendjen e saktë të bizneseve të Kosovës, zbuloni se cilët jane top dhjetë bizneset me kapital më të madh, zbuloni aktivitetet të cilat shërbehen më së shumti nga bizneset, mundësi filtrimi për të marr informata më konkrete rreth bizneseve.</p>
              </div>
            {% endif %}
            {% if request.path == url_for('main.activity_map') %}
              <div class="banner-info text-center">
                <h2 class="bnr-sub-title">Harta</h2>
                <p class="lead">Lorem ipsum dolor sit amet..</p>
              </div>
            {% endif %}
          </div>
        </div>
        </div>
      </div>
    </div>

    <!--Content -->
    <section id="service" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
            {% if request.path == url_for('main.index') %}<h3 style="text-align:center;">Rezultatet:</h3>{% endif %}
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row text-center">
          <p>&copy; ODK. Të drejtat e rezervuara.</p>
          <div>
            Zhvilluar nga <a target="_blank" href="https://opendatakosovo.org/">Open Data Kosovo</a>
        </div>
        </div>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
  </body>
</html>
