<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenARBK</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.bxslider.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  </head>
  <body>

    <!-- Navbar -->
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bizneset e Hapura</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li {% if request.path == '/' %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">K&euml;rkimi</a></li>
              <li {% if request.path == '/visualization' %}class="active"{% endif %}><a href="{{ url_for('main.visualization') }}">Zhvillimi i Bizneseve</a></li>
              <li {% if request.path == '/activitymap' %}class="active"{% endif %}><a href="{{ url_for('main.activity_map') }}">Harta</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Header -->
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="banner-info text-center">
              <h2 class="bnr-sub-title">K&euml;rko pronar&euml; ose zyrtar n&euml; gjitha bizneset e Kosov&euml;s</h2>
              <div class="col-sm-10 col-sm-offset-1">
                <form class="form" method="POST" action="{{ url_for('main.index') }}">
                  <div id="imaginary_container">
                      <div class="stylish-input-group form-group col-md-12 col-xs-12">
                          <input type="text" class="form-control" name="search"  placeholder="Sh&euml;no emrin..." >
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                              </button>
                          </span>
                      </div>
                    <div class="search-people-input select-kind form-group col-md-4 col-xs-12">
                      <label for="type">Zgjedh llojin:</label>
                        <select id="type" class="custom-form-item form-control" name="person">
                            <option style="color: #fff;" value="any" selected="selected">Pronar&euml; dhe Zyrtar&euml;</option>
                            <option value="owner">Pronar&euml;</option>
                            <option value="auth">Zyrtar&euml;</option>
                        </select>
                    </div>
                    <div class="search-people-input form-group col-md-4 col-xs-12">
                      <label for="places">Zgjedh komun&euml;n:</label>
                        <select id="places" class="custom-form-item form-control" name="municipality" id="poz">
                            <option value="any" selected="selected">Gjith&euml; Kosova</option>
                            {% for municipality in municipalities%}
                            <option value="{{municipality.municipality}}">{{municipality.municipality}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-people-input-btn form-group col-md-4 col-xs-12">
                        <button type="submit" class="btn btn-default filter-people-btn">K&euml;rko</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!--Content -->
    <section id="service" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>Njoftim!!! Per shkak se personat(Pronar&euml;/Zyrtar&euml;) nuk kan&euml; num&euml;r identifikimi rezultati shfaqet nga emri i njejt&euml; i atij personi.</span>
        </div>
        <div class="row">
          <h3 style="text-align:center;">Rezultatet rreth {{person}}</h3>
            <table class="table table-striped" id="searchTable">
              <thead>
                  <th>Emri i Biznesit</th>
                  <th>Statusi i Biznesit</th>
                  <th>Komuna</th>
                  <th>Pronaret</th>
                  <th>Te autorizuaret</th>
              </thead>
              <tbody>
                  {% for i in profile_data %}
                  <tr>
                      <td>
                          <a href="{{i['arbkUrl']}}">{{i['name']}}</a>
                      </td>
                      <td>
                          {{i['status']}}
                      </td>
                      <td>
                          {{i['municipality']['municipality']}}
                      </td>
                      <td>
                        {% if status == 'owner' %}
                            {{person}}
                        {% else %}
                          <ul>
                            {% for owner in i['owners'] %}
                                <li><a href="{{url_for('main.profile', person=owner['name'], status='owner')}}">{{owner['name']}}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </td>
                      <td>
                        {% if status == 'authorized' %}
                            {{person}}
                        {% else %}
                          <ul>
                            {% for auth in i['authorized'] %}
                                <li><a href="{{url_for('main.profile', person=auth['name'], status='authorized')}}">{{auth['name']}}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row text-center">
          <p>&copy; ODK. T&euml; drejtat e rezervuara.</p>
          <div>
            Zhvilluar nga <a target="_blank" href="https://opendatakosovo.org/">Open Data Kosovo</a>
        </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
    $(document).ready( function () {
        $('#searchTable').DataTable({
        searching: false,
        "language": {
            "lengthMenu": "T&euml; shfaqur  _MENU_  persona",
            "zeroRecords": "Asgj&euml; nuk u gjet!",
            "info": "Faqja _PAGE_ nga _PAGES_",
            "infoEmpty": "Nuk ka rezultate!",
            "infoFiltered": "(filtruar nga _MAX_ totali i rezultateve)",
            "paginate": {
                "previous": "Prapa",
                "next": "Para"
            }
        }});
    });
</script>

    <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
  </body>
</html>
