{% extends 'layout.html' %}
{% block content%}
<style media="screen">
    .header {
        min-height: auto;
    }
    .bg-color{
        min-height: auto;
    }
    .recPage{
        padding-left: 40px;
        list-style-type: disc;
    }
    #recommendationPage{
        color: #000;
        font-size: 17px;
        padding-top: 80px
    }
</style>
<section id="recommendationPage">
    <div class="col-xs-12">
        <p>Open Data Kosovo beson që hapja e të dhënave është esenciale në vendosjen e qeverisjes së mirë, transparente dhe llogaridhënëse. Të dhënat e hapura janë mënyrë fundamentale e pjesëmarrjes qytetare në vendimarrje. Për këtë arsye të dhënat që ofrohen nga institucionet qeveritare duhet të jenë të jenë publike, lehtësisht të qasshme, si dhe në formate të hapura.</p>
        <p>Me datë 13.05.2016 Qeveria e Kosovës miratoi Kartën për Hapjen e të Dhënave në Republikën e Kosovës. Sipas këtij dokumenti Republika e Kosovës ka marrë zotim ti përshtatet principit të hapjes së dhënave për të mirën publike. </p>
        <p>Qasja e limitueshme në të dhënat e kompanive është problem për të gjithë. Informatat e mbyllura të bizneseve krijojnë hapsirë për pastrim parash, korrupsion, keqpërdorim dhe krim të organizuar. Këto probleme e ndalojnë zhvillimin ekonomik lokalisht si dhe në shkallë globale. </p>
        <ul class="recPage">
            <li>
                Hapja e të dhënave biznesore lejon analiza ekonomike për sektorë si dhe aktivitete të ndryshme ekonomike.
            </li>
            <li>
                Krijon hapsirë për analizimin e trendeve ekonomike në periudha dhe rajone të ndryshme.
            </li>
            <li>
                Krijon hapsirë për analizë të tregut nga investitorët lokal dhe ndërkombëtar.
            </li>
            <li>
                Hapja e të dhënave mund të përdoret edhe një mjet marketingu për bizneset. Kjo lejon kompanitë e mëdha nga bota apo kontraktorët e tjerë të kërkojnë për kompaninë tuaj bazuar në: sekorin e kompanisë, madhësinë, vendndodhjen, përvojën, pronësinë etj.
            </li>
        </ul>
        <p>Duke ndjekur këto principle Agjencia e Regjistrimit të Bizneseve (ARBK) duhet të përmirësojë dhe thjeshtëzojë qasjen në informatat biznesore në Kosovë.</p>
        <ul class="recPage">
            <li>
                Të dhënat e bizneseve, duke përjashtuar të dhënat sensitive personale, duhet të jenë publikisht të qasshme pa pagesë.
            </li>
            <li>
                Ato duhet të jenë të përditësuara dhe të prezentuara në kohë reale.
            </li>
            <li>
                Për të qenë të përdorueshme nga publiku të dhënat duhet të jënë të publikuara në format të hapur, që lexohen lehtë nga programet softëerike.
            </li>
            <li>
                Të dhënat duhet të lejojnë mundësi që të shkarkohen në tërësi, si dhe nën licensë të hapur që lejon përdorimin dhe ri-përdorimin nga publiku i gjerë.
            </li>
        </ul>
        <p>Open Data Kosovo është e gatshme për bashkepunim në implementimin e principevete të të dhënave të hapura, për t’i ndihmuar institucionet që të arrijnë nivelin më të lartë të trasparëncës, që shkon në të mirën e të gjithë vendit. </p>
        <br>
        <p>Lexoni më shume për lëminë e të dhënave të hapura: </p>
        https://www.opengovpartnership.org
        <br>
        <a href="https://okfn.org">https://okfn.org</a> <br>
        <a href="https://opencorporates.com">https://opencorporates.com</a> <br>
        <a href="http://data.worldbank.org">http://data.worldbank.org</a> <br>

    </div>
</section>
{%endblock%}
