{% extends 'layout.html' %}
{% block content %}
<form class="form" method="POST" action="{{ url_for('main.index') }}">
    <div class="row">
        <div class="form-group col-xs-6">
            <input type="text" class="form-control" id="search" name="search" placeholder="emri i zyrtarit/pronarit">
        </div>
        <div class="form-group col-xs-2">
            <label>
                <select class="form-control" name="person">
                    <option value="any" selected="selected">T&euml; gjitha</option>
                    <option value="owner">Pronar&euml;</option>
                    <option value="auth">Zyrtar&euml;</option>
                </select>
            </label>
        </div>
        <div class="form-group col-xs-3">
            <label>
                <select class="form-control" name="municipality">
                    <option value="any" selected="selected">T&euml; gjitha</option>
                    {% for municipality in municipalities%}
                    <option value="{{municipality.municipality}}">{{municipality.municipality}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group col-xs-1">
            <button type="submit" class="btn btn-default">K&euml;rko</button>
        </div>
    </div>
</form>

<table class="table table-striped" id="searchTable">
    <thead>
        <th>Emri i Biznesit</th>
        <th>Statusi i Biznesit</th>
        <th>Komuna</th>
        <th>Pronaret</th>
        <th>Te autorizuaret</th>
    </thead>
    <tbody>
        {% for i in profile_data %}
        <tr>
            <td>
                <a href="{{i['arbkUrl']}}">{{i['name']}}</a>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              {% if status == 'owner' %}
                  {{person}}
              {% else %}
                <ul>
                  {% for owner in i['owners'] %}
                      <li><a>{{owner['name']}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
            <td>
              {% if status == 'authorized' %}
                  {{person}}
              {% else %}
                <ul>
                  {% for auth in i['authorized'] %}
                      <li><a>{{auth['name']}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
$('#searchTable').DataTable();
} );
</script>
{% endblock %}
