{% extends 'layout.html' %}
{% block content %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/birth-deathDate.js') }}"></script>
<script src="{{ url_for('static', filename='js/topActivities.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectTopActivities.js') }}"></script>
<script src="{{url_for('static', filename="js/top10.js")}}"></script>
<script src="{{url_for('static', filename="js/genderStats.js")}}"></script>
<section id="bizKind">
    <div class="col-xs-12 con1" style="">
        <h2 class="headers">Llojet e bizneseve</h2>
        {% include 'visualizations/bizTypes.html' %}
        <hr style="border-width: 3px;">
    </div>
</section>


<section id="thruYears">
    <div class="col-xs-12 con2" style="">
        <h2 class="headers">Bizneset sipas viteve</h2>
        <div id="container2" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
        <hr style="border-width: 3px;">
    </div>
</section>


<section id="top10$">
    <div class="col-xs-12 con3" style="">
        <h2 class="headers">Top 10 bizneset sipas kapitalit</h2>
        {% include 'visualizations/top10.html' %}
        <hr style="border-width: 3px;">
    </div>
</section>

<section id="top10Act">
    <div class="col-xs-12 con5" style="; margin-bottom: 50px;">
        <h2 class="headers">Top 10 aktivitetet që shërbehen nga bizneset</h2>
        {% include 'visualizations/topActivities.html'%}
        <hr style="border-width: 3px;">
    </div>
</section>


<section id="ActInact">
    <div class="col-xs-12 con4" style="">
        <h2 class="headers">Bizneset e shuara dhe aktive</h2>
        <div id="container3" style="min-width: 100%; height: 400px; max-width: 600px; margin: 0 auto">
        </div>
        <hr style="border-width: 3px;">
    </div>
</section>

<section id="gender">
    <div class="col-xs-12 con5" style="margin-bottom: 50px;">
        <h2 class="headers">Gjinia e Pronareve</h2>
        {% include 'visualizations/gender.html'%}
        <hr style="border-width: 3px;">
    </div>
</section>

{% endblock %}
