{% extends 'layout.html' %}
{% block content %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/birth-deathDate.js') }}"></script>
<script src="{{ url_for('static', filename='js/topActivities.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectTopActivities.js') }}"></script>
<script src="{{url_for('static', filename="js/top10.js")}}"></script>
<script src="{{url_for('static', filename="js/genderStats.js")}}"></script>
<section id="bizKind">
    <div class="col-xs-12 con1" style="margin-top:30px">
        <h3 class="headers">Llojet e bizneseve</h3>
        {% include 'visualizations/bizTypes.html' %}
    </div>
</section>

<hr style="border-width: 3px;">

<section id="thruYears">
    <div class="col-xs-12 con2" style="margin-top:30px">
        <h3 class="headers">Bizneset sipas viteve</h3>
        <div id="container2" style="margin-top:30px !important; min-width: 100%; height: 400px; margin: 0 auto"></div>
    </div>
</section>

<hr style="border-width: 3px;">

<section id="top10$">
    <div class="col-xs-12 con3" style="margin-top:30px">
        <h3 class="headers">Top 10 bizneset sipas kapitalit</h3>
        {% include 'visualizations/top10.html' %}
    </div>
</section>

<hr style="border-width: 3px;">
<section id="top10Act">
    <div class="col-xs-12 con5" style="margin-top:30px; margin-bottom: 50px;">
        <h3 class="headers">Top 10 aktivitetet që shërbehen nga bizneset</h3>
        {% include 'visualizations/topActivities.html'%}
    </div>
</section>

<hr style="border-width: 3px;">

<section id="ActInact">
<div class="col-xs-12 con4" style="margin-top:30px">
    <h3 class="headers">Bizneset e shuara dhe aktive</h3>
    <div id="container3" style="min-width: 100%; margin-top:30px !important; height: 400px; max-width: 600px; margin: 0 auto">
</div>
</section>

<hr style="border-width: 3px;">

<section id="gender">
    <div class="col-xs-12 con5" style="margin-top:30px; margin-bottom: 50px;">
        <h3 class="headers">Gjinia e Pronareve</h3>
        {% include 'visualizations/gender.html'%}
    </div>
</section>

<hr style="border-width: 3px;">
{% endblock %}
